body{
  background-color: white;
}
.terug_button{
  float: left;
  background-color: rgb(0, 150, 136) !important;
  color: #f2f2f2 !important;
}
.terug_button:hover{
  background-color: rgba(150,153,153,.6) !important;
  color: white !important;
}
.bestel{
  float: left;
  background-color: rgb(0, 150, 136) !important;
  color: #f2f2f2 !important;
}
.bestel:hover{
  background-color: rgba(150,153,153,.6) !important;
  color: white !important;
}
.bestel-plus{
  padding-right: 5px;
}
.form-knop{
  color: #fff !important;
  background-color: rgba(0, 150, 136, 1) !important;
}
.form-knop:hover{
  background-color: rgba(153, 153, 153, 0.2) !important;
  color: rgba(0, 150, 136, 1) !important;
}
.alert{
  background-color: rgba(225,30,1, 0.84) !important;
}
.succes {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0;
    background-color: #00cc00 !important;
    color: rgba(255,255,255,1);
}
.warning{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: rgba(237,95,0, 0.84) !important;
  color: rgba(255,255,255,1);
}
.navbar.navbar-default {
    background-color: #80726a;
    font-weight: bold;
}
.orchideeHoliday{
  float: left;
}
.zoek-balk {
    width: 25%;
    float: left;
    margin-left: 100px;
    margin-top: 20px;
}
.nav-links{
  margin-left: -25px;
}
.nav-rechts{
  float: right !important;
}
.slider {
  height: 100%;
  width: 65%;
  margin: 0;
  float: left;
}
.slide-boxes {
  float: right;
  width: 32%;
  height: 100%;
}
.slide-box{
  height: 30%;
  background-color: #c8c8c8;
  margin-bottom: 15px;
}
.top-home {
  height: 300px;
}
img.img-responsive.cover {
  max-width: 350px;
  float: left;
  margin-right: 20px;
}
.bestel-knop{
  margin-top: 20px;
}
.thumb_img {
  height: 300px;
  max-width: 235px;
}
h2.textfilmaanbod {
  font-weight: normal;
}
.btn-group.admin{
  width: 100%;
}
.admin_menu{
  width: 33.33%;
}
.actief{
  background-color: #80726a !important;
  color: white !important;
}
.slide-box h2 {
    margin: 0;
    bottom: 0;
    color: white;
    padding-top: 50px;
    float: right;
    font-weight: bold;
}
.orchidee-slide-box-1{
  background-size: cover;
  background-image: url('/foto/orchidee.jpg');
}
.orchidee-slide-box-2{
  background-size: cover;
  background-image: url('/foto/orchidee2.jpg');
  height: 100%;
}
.orchidee-slide-box-3 {
    background-size: cover;
    background-image: url(/foto/support.jpg);
    height: 100%;
    background-position-y: -60px;
}
.artikelCount {
    width: 40px;
    float: right;
    height: 40px;
    margin-top: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 25px;
    background-color: #f7f7f7;
}
.artikelCount h3 {
    margin-top: 6px;
    margin-left: 11px;
}
img.winkelmand_img {
    max-height: 155px;
}
.winkelmand_table td {
    width: 25%;
}
.fa-trash-o{
  font-size: 22px;
  color: red;
}
.bekijk-knop{
  width: 100%;
}
.left{
  float: left;
  width: 45%;
}
.right{
  float: left;
  width: 45%;
  margin-left: 5%;
}
.anoniem-bestel-knop{
  width: 100%;
}
input[type=radio] {
   display:none;
}
.verzendwijze{
  width: 100%;
  text-align: center;
  height: 300px;
}
i.fa.fa-user, i.fa.fa-truck{
    font-size: 130px;
}
.bezorger{
  margin-bottom: -2px;
}
.bezorger:hover{
  cursor: pointer;
}
.ophalen{
  margin: 0;
}
